name: Publish on release to GraphDB

on:
  release:
    types: [released]

env:
  PYTHON_VERSION: "3.10"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Use Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install project dependencies
        run: pip install -r requirements.txt

      - name: Install project
        run: pip install .

      - name: Expand the graph data and write to vocab_files/
        run: python expand.py vocab_files/expanded-triples-dump.ttl

      - name: Load data to GraphDB
        run: python load.py --url https://graphdb.tern.org.au --username ${{ secrets.GRAPHDB_USERNAME }} --password ${{ secrets.GRAPHDB_PASSWORD }}
